page-living {
    .lamp-label{
        font-size:1.1em;
        color: color($colors, primary);
        margin-left:30px;
        
    }
    .item{
        background-color: transparent;
    }
    .item-inner{
        border:0px!important;
    }
    ion-col{
        padding:1px!important;
    }
    .col{
        margin-bottom:-3px;
    }
 
    ion-row{
         padding:0px!important;
         padding-top:10px!important;
         margin-bottom: -8px!important;
         margin-top: 8px!important;
         border: 0px!important;
     }
     .temp{
        color: color($colors, primary);
        font-size:3em;
        text-align: center;
        margin-top:50px;
     }
     .thcButton{
         height:80px;
         overflow: visible!important;
         margin-top:0px!important;
         margin-bottom:0px!important;
         
     }
 
       .bg{
         //background: #1F2833;
         background: linear-gradient(to bottom, #2c6773 0%, #303d4c 100%);
     }
}
