page-living {
    
   
     .temp{
        color: color($colors, primary);
        font-size:3em;
        text-align: center;
        margin-top:50px;
     }
   
       .bg{
         //background: #1F2833;
         background: linear-gradient(to bottom, #2c6773 0%, #303d4c 100%);
     }
}
