page-music {
    .input{
        color: color($colors, primary);
        font-size:2em;
        text-align: center;
        margin-bottom:50px;
     }
    ion-col{
        padding:1px!important;
    }
 
    ion-row{
         padding:1px!important;
         margin-bottom: -5px!important;
         margin-top: 0px!important;
     }
     
     .thcButton{
         height:80px;
         overflow: visible!important;
         margin-top:0px!important;
         margin-bottom:0px!important;
         
     }

       .bg{
         //background: #1F2833;
         background: linear-gradient(to bottom, #2c6773 0%, #303d4c 100%);
     }
}