// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-icon {
    padding-right:15px;
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-bulb"] {
      mask-image: url(../assets/imgs/bulb.svg);
    }

    &[class*="custom-amp"] {
      mask-image: url(../assets/imgs/amp.png);
    }

    &[class*="custom-power"] {
      mask-image: url(../assets/imgs/power.png);
    }

    &[class*="custom-airplay"] {
      mask-image: url(../assets/imgs/airplay.png);
    }

    &[class*="custom-tuner"] {
      mask-image: url(../assets/imgs/tuner.png);
    }

    &[class*="custom-volumeup"] {
      mask-image: url(../assets/imgs/volplus.png);
    }
    &[class*="custom-volumedown"] {
      mask-image: url(../assets/imgs/volmin.png);
    }
    
    &[class*="custom-heating"] {
     mask-image: url(../assets/imgs/heating.png);
      }
    &[class*="custom-carwash"] {
     mask-image: url(../assets/imgs/carwash.png);
    }
    &[class*="custom-scenes"] {
     mask-image: url(../assets/imgs/scenes.png);

    }
    &[class*="custom-sprinkler"] {
     mask-image: url(../assets/imgs/sprinkler.png);
        
    }

    &[class*="custom-parking"] {
        mask-image: url(../assets/imgs/parking.png);
           
    }

    &[class*="custom-pump"] {
      mask-image: url(../assets/imgs/pump.png);
         
  }
    &[class*="custom-dick"] {
        mask-image: url(../assets/imgs/dick.png);
           
    }
  }

  .lamp-label-dim{
    font-size:1.1em;
    color: color($colors, primary);
    margin-left:30px;
    
   }

   .lamp-label{
    font-size:1.4em;
    color: color($colors, primary);
    margin-left:30px;
    
   }

   .col-item-label{
       padding-top:30px;
       
   }

   .row-item {
       //border-top: 1px solid color($colors, primary);
       border-bottom: 1px solid color($colors, primary);
       
   }

   .icon-relais{
    font-size:50px;
    
   }

   .icon-dim{
    font-size:50px;
    margin-top:5px;
   }

   .item{
    background-color: transparent;
}
.item-inner{
    //border:rgba(42,213,219,.5) 10px!important;
    border:1px!important;
}
   
.list-header{
    color:color($colors, primary);
    font-size: 1.2em;
}